<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<display-name>JChatOrchestrator</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<display-name>loginServlet</display-name>
	<servlet-name>
			com.rombachuk.jchatorchestrator.loginServlet
	</servlet-name>
	<servlet-class>com.rombachuk.jchatorchestrator.loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
			com.rombachuk.jchatorchestrator.loginServlet
		</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
		<servlet>
		<display-name>loginServlet</display-name>
	<servlet-name>
			com.rombachuk.jchatorchestrator.logoutServlet
	</servlet-name>
	<servlet-class>com.rombachuk.jchatorchestrator.logoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
			com.rombachuk.jchatorchestrator.logoutServlet
		</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>chatServlet</display-name>
		<servlet-name>
			com.rombachuk.jchatorchestrator.chatServlet
	</servlet-name>
	<servlet-class>com.rombachuk.jchatorchestrator.chatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
			com.rombachuk.jchatorchestrator.chatServlet
		</servlet-name>
		<url-pattern>/chat</url-pattern>
	</servlet-mapping>
   <servlet>
		<display-name>chatstartServlet</display-name>
		<servlet-name>
			com.rombachuk.jchatorchestrator.chatstartServlet
	</servlet-name>
	<servlet-class>com.rombachuk.jchatorchestrator.chatstartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>
			com.rombachuk.jchatorchestrator.chatstartServlet
		</servlet-name>
		<url-pattern>/chatstart</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>jcoProperties</param-name>
		<param-value>/WEB-INF/jco.props</param-value>
	</context-param>
</web-app>