button, button:active, button.focus: {
	  background-image: none;
      outline: 0;
      -webkit-box-shadow: none;
      display: flex;
      box-shadow: none;
}
ul {
	margin: 0;
	padding: 0;
}

#login-body {
  
  margin: 0px;
  background-color:#CBCBCB;
  
}
#login-container {
   font-family: Arial;
}
#login-box {
  position: relative;
  background-color: #FFF;
  width: 300px ;
  height: 150px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  border: 2px solid blue;
  
}
#login-form {
  margin-left: 0px;
}
.login-option-input {
  position: relative;
  left: 5px;
  width: 180px;
  margin: 5px;
}
.login-signon-input {
  position: relative;
  left: 5px;
  width: 80px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #389ae1;
}
.login-signon-input:hover {
	background-color:#F3622D;
}

.login-signout-input {
  left: 5px;
  height: 25px;
  width: 80px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #389ae1;
}
.login-signout-input:hover {
	background-color:#F3622D;
}
.launcher-spacer {
 flex-grow:1;
}
.launcher-button-input {
  left: 5px;
  width: 220px;
  height: 50px;
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #389ae1;
}
.launcher-button-input:hover {
	background-color:#F3622D;
}
.login-text-para {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 12px;
}
.login-invalid-text-para {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
  font-size: 14px;
}


